---
title: Nitin Ratnakaran
layout: splash
author_profile: true
header:
  overlay_color: "#000"
intro: 
  - excerpt: 'I love learning about software engineering. This is a personal website where I put share my blogs and study notes'

feature_row:
  - title: "Blog Articles"
    image_path: "blog-unsplash.jpg"
    excerpt: "Opinions on various topics that interest me"
    url: "/blog/"
    btn_label: "Read Blog"
    btn_class: "btn--primary"
  - title: "Study Notes"
    image_path: "notes-unsplash.jpg"
    excerpt: "Nothing original here"
    url: "/study_notes/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}
{% include feature_row %}